/* .container {
   position: fixed;
} */

.comments {
    border-style: solid;
    padding: 20px;
    margin: 10px;
    width: 500px;
}

.friends {
    border-style: dotted;
    display: inline-block;
    position: absolute;
    right: 0;
}