@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      /* border-style: solid; */
      
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 400px;
      background:#009edf;
      padding: 10px 40px;
      color: #FFF;
      text-shadow: none;
   -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
 -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
 box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    }
  }

